// 默认字体配置，分别为 Ubuntu 微软正黑 微软雅黑 文泉驿微米黑
$defaultFontConfig: Ubuntu, 'Microsoft JHengHei UI', 'Microsoft YaHei UI', 'Microsoft JHengHei', 'Microsoft YaHei', 'WenQuanYi MicroHei', sans-serif;

body {
	font-family: $defaultFontConfig;
	font-size: 16px;
	overflow-y: scroll;
}

.alert {
	> h1, > h2, > h3, > h4, > h5, > h6 {
		margin-top: 0;
	}
}

.nav > li > a {
	padding: 3px 15px;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}

.panel-body {
	pre {
		// Fix for firefox (29.0)
		// When overflow set to auto, the transition does not work.
		overflow: initial;

		&:hover::before {
			color: #479BEC;
			opacity: .5;
		}

		&::before {
			content: '# 代码';
			float: right;
			color: #0C70E8;
			transition: all .5s ;
		}
	}
	> h3 {
		border-bottom: 1px dashed #ccc;

		&:first-child {
			margin-top: 0;
		}

		&:hover::after {
			color: #ccc;
			padding-left: .5em;
			content: '¶';
		}
	}
}

pre {
	tab-size: 4;

	&.sample,
	&.sample-good,
	&.sample-bad {
		border-left: 8px solid;
		border-color: #4D4D4D;
	}

	&.sample-good {
		border-color: #55DD8B;
	}

	&.sample-bad {
		border-color: #DD5555;
	}
}

dl {
	padding-left: .5em;
	border-left: 4px solid #55DD8B;
}

dt {
	margin-top: .5em;
}
dd > dl {
	margin-left: .5em;
	margin-bottom: 0;
}


@media (min-width: 768px) {
	.leftNav {
		height: auto;
		position: fixed;
		top: -1px;
		bottom: 0;
		margin-bottom: -1px;
		padding-top: 50px;
		> .leftNavContainer {
			overflow-y: auto;
			height: 100%;
		}
	}

	#searchAPI {
		// margin-bottom: .5em;
		position: fixed;
		width: initial;
		z-index: 9;
		top: .5em;
	}
}

.reset-count-arg {
	counter-reset: count-arg;
}
#pageBody {
	counter-reset: count-arg;

	.count-arg {
		counter-increment: count-arg;

		> dt::before {
			content: counter(count-arg, decimal) '. ';
			color: #999;
			font-size: 75%;
		}
	}
}


.text-indent {
	text-indent: 2em;
}

.text-normal {
	font-weight: normal;
}

.no-margin {
	margin: 0;
}